@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D5E1EF;
}
main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #FFFFFF;
  padding: 16px 16px 40px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0 rgb(0 0 0 / 0.05);
  max-width: 320px;
}
img {
  border-radius: 10px;
  width: 100%;
}
h2 {
  font-family: Outfit;
  font-weight: 700;
  font-size: 1.7em;
  text-align: center;
  color: #1F314F;
}
p {
  font-family: Outfit;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #D5E1EF;
  max-width: 260px;
  margin: 0 auto;
}